.myBG {
    height: 100vh;
    background: url("../assets/web/Bg/bioskop.jpg");
    background-size: cover;
}

.intro {
    height: 60%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
}

.trending {
    height: auto;
    background: url("../assets/web/Bg/spiderman3.jpg");
    background-size: cover;
}

.Superhero {
    height: auto;
    background: url("../assets/web/Bg/avenger.jpg");
    background-size: cover;
}

.MovieImage {
    height: 200px;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

.images {
    height: 500px;
}
